#favourites
  - favourites = @favourites.reject{|f| f.empty?}
  - favourites.each_with_index do |favourite, id|
    .page{:id => "f#{id}"}
      .header
        %a.left.flip.fx.return{:href => "#fr#{id}"}
          %span.ir Return
        %h1= SITE_NAME
        %a.slideup.fx{:href => '#settings'}
          %span.ir.settings Settings
      - @journeys, @origin, @destination = [], favourite.origin, favourite.destination
      - @journeys = favourite.journeys if request.xhr?
      = render :partial => 'shared/journeys'
      .footer
        = render :partial => 'footer', :locals => {:id_prefix => 'f', :count => favourites.length, :idx => id}
    -# Automatically include return journeys
    .page{:id => "fr#{id}"}
      .header
        %a.left.reverse.flip.fx.return{:href => "#f#{id}"}
          %span.ir.inbound Return
        %h1= SITE_NAME
        %a.slideup.fx{:href => '#about'}
          %span.ir.about About
      - @journeys, @origin, @destination = [], favourite.invert.origin, favourite.invert.destination
      - @journeys = favourite.invert.journeys if request.xhr?
      = render :partial => 'shared/journeys'
      .footer
        = render :partial => 'footer', :locals => {:id_prefix => 'fr', :count => favourites.length, :idx => id}