%ol.journeys.content{:"data-origin" => @origin.name, :"data-destination" => @destination.name}
  - if @journeys.nil? or @journeys.empty?
    - if @origin.id and @destination.id
      %li.journey.missing{:"data-depart-time-iso8601" => format_time(Time.zone.now, :iso8601), :"data-depart-time-js" => format_time(Time.zone.now, :js)}
        .warning
          .spinner
            .bar.p1
            .bar.p2
            .bar.p3
            .bar.p4
            .bar.p5
            .bar.p6
            .bar.p7
            .bar.p8
            .bar.p9
            .bar.p10
            .bar.p11
            .bar.p12
        %p.origin
          = @origin.name
        %p.destination
          = @destination.name
        %p.message Retrieving timetabled services   
    - else
      %li.invalid
        %p.warning!= "&#9888;"
        %p.origin
          = @origin.name
        %p.destination
          = @destination.name
        %p.message No services found at this time.
  - else
    = render :partial => 'shared/journey', :collection => @journeys
  = render :partial => 'shared/load_more_journeys'