- if favourite[:journeys]
  %section.page{:id => "f#{favourite_counter}"}
    %header
      %a.flip.transition{:href => "#fr#{favourite_counter}"}Return
      %h1.title
        %a{:href => '/'}= SITE_NAME
      %a.slideup.transition{:href => "#fs#{favourite_counter}"}Settings
    %section
      = render :partial => 'journeys', :object => favourite[:journeys]
- if favourite[:return_journeys]
  %section.page{:id => "fr#{favourite_counter}"}
    %header
      %a.reverse.flip.transition{:href => "#f#{favourite_counter}"}Back   
      %h1.title
        %a{:href => '/'}= SITE_NAME
    %section
      = render :partial => 'journeys', :object => favourite[:return_journeys]