%span.countdown.nowrap{:class=>classify_duration_to_now(journey.departing_at)}= duration_in_concise_words_to_now(journey.departing_at)
%span.hide
  %br
%span.departing
  %span.hide Departing 
  %span.station.nowrap= journey.departing.name
  %span.time.nowrap
    - if journey.departing_at
      = format_time(journey.departing_at)
    - else
      &mdash;
%span.hide
  %br
%span.arriving
  %span.hide Arriving 
  %span.station.nowrap= journey.arriving.name
  %span.time.nowrap
    - if journey.arriving_at
      = format_time(journey.arriving_at)
    - else
      &mdash;