<%- show_headings ||= false -%>
<%- if @journeys -%>

<ol class="list">
	<%- unless @journeys.empty? -%>
		<%- if show_headings -%>
			<%= "<li><span>No further services today.</span></li>" unless Time.zone.now.day == @journeys.first.departing_at.day -%>
		<%- end -%>
		
		<%- day = Time.zone.now.day -%>
    
    <%- @journeys.each do |journey| -%>
		
			<%- if show_headings -%>
				<%= "<li class='heading'><h3>#{format_time(journey.departing_at, :weekday)}</h3></li>" unless day == journey.departing_at.day -%>
			<%- end -%>
		
			<li>
        <%- link_to({:controller => 'timetable', :action => 'journey', :departing => journey.departing, :arriving => journey.arriving, :departing_at => format_time(journey.departing_at, :iso8601)}, :class => 'group journey') do -%>
          <span class='t-minus nowrap'><%= distance_of_time_in_words_to_now journey.departing_at -%></span>
          <span class='departing'>
            <span class='station nowrap'><%= h journey.departing.name %></span>
            <span class='time nowrap'><%= "#{format_time(journey.departing_at, :weekday)}&nbsp;" if journey.departing_at.day != Time.zone.now.day %><%= format_time(journey.departing_at) -%></span>
          </span>
          <span class='arriving'>
            <span class='station nowrap'><%= h journey.arriving.name -%></span>
            <span class='time nowrap'><%= "#{format_time(journey.arriving_at, :weekday)}&nbsp;" if journey.arriving_at.day != Time.zone.now.day %><%= format_time(journey.arriving_at) -%></span>
          </span>
        <%- end -%>
      </li>
    
      <%- day = journey.departing_at.day -%>
    
    <%- end -%>
		
		
		
		
	<%- else -%>
		<li><span>No services available.</span></li>
	<%- end -%>
</ol>

<%- end -%>