<%= render(:partial => 'home') -%>
<form action="/favourites" method="post" id="favourite_form">
	<fieldset class="aligned">
		<fieldset>
			<ul class='list'>
				<li>
					<span>
						<label for='departing'>Departing</label> 
						<select name='departing'>
							<%- @stations.each do |station| -%>
								<option value='<%= h station.id -%>'><%= h station.name -%></option>
							<%- end -%>
						</select>
					</span>
				</li>
				<li>
					<span>
						<label for='arriving'>Arriving</label> 
						<select name='arriving'>
							<%- @stations.each do |station| -%>
								<option value='<%= h station.id -%>'><%= h station.name -%></option>
							<%- end -%>
						</select>
					</span>
				</li>
				<li>
					<span><%= submit_tag 'Add Favourite', :type => 'submit' %></span>
				</li>
			</ul>
		</fieldset>
	</fieldset>
</form>

