<ul class='panel'>
	<li>
		<% link_to(:controller => 'timetable', :action => 'departing') do %>
			Timetable <span class='secondary'>Select a journey and add it as a favourite.</span>
		<% end %>
	</li>
</ul>
<% unless @journeys.empty? %>
	<ul class='panel'>
		<% @journeys.each do |journey| %>
			<% if journey %>
				<li>
					<% link_to(:controller => 'timetable', :action => 'upcoming', :departing => journey.departing.code, :arriving => journey.arriving.code) do %>
						<%= h journey.departing.name %> to <%= h journey.arriving.name %>
						<% if journey.departing_at %>
							<span class='secondary'>
								&nbsp;<%= image_tag '/images/silk/bullet_go.png', :alt => '' %>
		                  		<%= "#{format_time(journey.departing_at, :weekday)}&nbsp;" if journey.departing_at.day != Time.zone.now.day %><%= format_time(journey.departing_at) %>
							</span>
						<% end %>
					<% end %>
				</li>
			<% end %>
		<% end %>
	</ul>
<% end %>
<ul class='panel'>
	<li>
		<% link_to(:controller => 'timetable', :action => 'about') do %>
			About
		<% end %>
	</li>
</ul>
