<h2 class='panel'>
<%- link_to({:controller => 'timetable', :action => 'departing'}, :class => 'item') do -%>
	<span class='title'>Timetable</span><span class='hide'>: </span><span class='block'>Choose a journey then add it as a favourite</span>
<%- end -%>
</h2>
<%- unless @journeys.empty? -%>
	<h2 class='hide'>Favourites</h2>
	<dl class='panel'>
	<%- @journeys.each do |journey| -%>
		<dt>
			<%- link_to({:controller => 'timetable', :action => 'upcoming', :departing => journey.departing, :arriving => journey.arriving}, :class => 'item') do -%>
				<%= h journey.departing.name %> to <%= h journey.arriving.name -%>
			<%- end -%>
		</dt>
		<dd>
			<%- link_to({:controller => 'timetable', :action => 'upcoming', :departing => journey.departing, :arriving => journey.arriving}, :class => 'item') do -%>
				<%- if journey.departing_at -%>
					<%= "#{format_time(journey.departing_at, :weekday)}&nbsp;" if journey.departing_at.day != Time.zone.now.day %><%= format_time(journey.departing_at) -%>
				<%- else -%>
					&mdash;
				<%- end -%>
			<%- end -%>
		</dd>
	<%- end -%>
	</dl>
<%- end -%>
<h2 class='panel'><%= link_to 'About', {:controller => 'timetable', :action => 'about'}, :class => 'item' -%></h2>