<% @title = "#{h @journey.departing.name} to #{h @journey.arriving.name}" %>
<% @title += ": #{format_time @journey.departing_at, :weekday}" unless @journey.departing_at.day == Time.zone.now.day %>
<% if @journey.changes and @journey.changes.length > 0 %>
	<% @journey.changes.each do |change| %>
		<dl class="panel">
		<% last_stop = nil %>
		<% change.each do |stop| %>
			<dt>
				<%= h stop.station_name  %>
			</dt>
			<dd>
				<% if stop == change.first %>
					departs <%= format_time(stop.departing_at) %>
				<% else %>
					<%= 'arrives ' if stop == change.last %>
					<%= format_time(stop.arriving_at) %>
				<% end %>
				<% if stop.platform.to_i > 0 and (stop == change.first or stop == change.last) %>
					<span class="secondary">Platform <%= h stop.platform %></span>
				<% end %>
			</dd>
			<% last_stop = stop %>
		<% end %>
		</dl>
		<%= "<p>Change service at #{h last_stop.station_name}.<p>" if change != @journey.changes.last and last_stop %>
	<% end %>
	<p><%= h distance_of_time_in_words(@journey.departing_at, @journey.arriving_at).capitalize %>.</p>
<% else %>
	<br />
	<p>No details available.</p>
<% end %>