<% @title = @journey.departing.name + " to " + @journey.arriving.name + ": " +  format_time(@journey.departing_at) %>
<% if @journey.changes and @journey.changes.length > 0 %>
	<% @journey.changes.each do |change| %>
		<dl class="panel">
		<% last_stop = nil %>
		<% change.each do |stop| %>
			<dt>
				<%= h stop.station.name  %>
			</dt>
			<dd>
				<% if stop == @journey.changes.first %>
					<%= h format_time(stop.departing_at) %>
				<% else %>
					<%= h format_time(stop.arriving_at) %>
				<% end %>
				<% if stop.platform %>
					<span class="secondary">Platform <%= h stop.platform %></span>
				<% end %>
			</dd>
			<% last_stop = stop %>
		<% end %>
		</dl>
		<% if change != @journey.changes.last and last_stop %>
			<p>Change service at <%= h last_stop.station.name %>.<p>
		<% end %>
	<% end %>
	<p>Duration: <%= h distance_of_time_in_words(@journey.departing_at, @journey.arriving_at) %>.</p>
<% else %>
	<br />
	<p>No details available.</p>
<% end %>