<%- title = "#{h @journey.departing.name} &rarr; #{h @journey.arriving.name}" -%>
<%- title += ": #{format_time @journey.departing_at, :short_html}" if @journey.departing_at.midnight == Time.zone.now.midnight -%>
<%- title += ": #{format_time @journey.departing_at, :weekday} #{format_time @journey.departing_at, :short_html}" unless @journey.departing_at.midnight == Time.zone.now.midnight -%>
<%= render(:partial => 'home') -%>
<%- if @journey.changes and !@journey.changes.empty? -%>
	<ol class="list">
	<%- @journey.changes.each do |change| -%>
		<%- change.each do |stop| -%>
			<li>
				<span class="stops group">
					<%- if stop == change.first -%>
						<%- if Time.now > stop.departing_at -%>
							<span class='t-minus negative nowrap'><%= duration_in_concise_words_to_now stop.departing_at -%></span>
						<%- else -%>
							<span class='t-minus nowrap'><%= duration_in_concise_words_to_now stop.departing_at -%></span>
						<%- end -%>
						<span class='station nowrap'><%= h stop.station_name %></span>
						<span class='time nowrap'><%= format_time(stop.departing_at) -%></span>				
					<%- else -%>
						<%- if Time.now > stop.departing_at -%>
							<span class='t-minus nowrap negative'><%= duration_in_concise_words_to_now stop.arriving_at -%></span>
						<%- else -%>
							<span class='t-minus nowrap'><%= duration_in_concise_words_to_now stop.arriving_at -%></span>
						<%- end -%>
						<span class='station nowrap'><%= h stop.station_name -%></span>
						<span class='time nowrap'><%= format_time(stop.arriving_at) -%></span>
						<%- if stop.platform.to_i > 0 and (stop == change.first or stop == change.last) -%>
							<span class='platform nowrap'>platform <%= h stop.platform -%></span>
						<%- end -%>
						<%- if change != @journey.changes.last and stop == change.last -%>
							<span class='change nowrap'>change service</span>
						<%- end -%>
					<%- end -%>
				</span>
			</li>
		<%- end -%>
	<%- end -%>
	</ol>
	<p><%= h duration_in_words(@journey.departing_at, @journey.arriving_at).capitalize %> duration.</p>
<%- else -%>
	<div class='panel'>
		<p class='item'>No details available.</p>
	</div>
<%- end -%>