%section#favourites
  - @favourites.each_with_index do |favourite, idx|
    %section.page{:id => "f#{idx}"}
      %header
        %a.flip.fx{:href => "#fr#{idx}"}
          %img{:src => '/images/outbound_25x18.png'}
        %h1
          %a{:href => '/'}= SITE_NAME
        %a.slideup.fx{:href => "/settings#settings"}
          %img{:src => '/images/gear_18x18.png'}
      = render :partial => 'journeys', :object => favourite.journeys
      %footer
        = render :partial => 'footer', :locals => {:id_prefix => 'f', :count => @favourites.length, :idx => idx}
    %section.page{:id => "fr#{idx}"}
      %header
        %a.reverse.flip.fx{:href => "#f#{idx}"}
          %img{:src => '/images/inbound_25x18.png'}
        %h1
          %a{:href => '/'}= SITE_NAME
        %a.slideup.fx{:href => "/about#about"}
          %img{:src => '/images/info_17x17.png'}
      = render :partial => 'journeys', :object => favourite.return_journeys
      %footer
        = render :partial => 'footer', :locals => {:id_prefix => 'fr', :count => @favourites.length, :idx => idx}