- @favourites.each_with_index do |favourite, idx|
  %section.page{:id => "f#{idx}"}
    %header
      %a.flip.transition{:href => "#fr#{idx}"}Return
      %h1
        %a{:href => '/'}= SITE_NAME
      %a.slideup.transition{:href => "/favourites#settings"}Settings
    %section
      = render :partial => 'journeys', :object => favourite.journeys
    %footer
      = render :partial => 'footer', :locals => {:id_prefix => 'f', :count => @favourites.length, :idx => idx}
  %section.page{:id => "fr#{idx}"}
    %header
      %a.reverse.flip.transition{:href => "#f#{idx}"}Back   
      %h1
        %a{:href => '/'}= SITE_NAME
      %a.slideup.transition{:href => "#about"}About
    %section
      = render :partial => 'journeys', :object => favourite.return_journeys
    %footer
      = render :partial => 'footer', :locals => {:id_prefix => 'fr', :count => @favourites.length, :idx => idx}