%ul
  - count.times do |i|
    - if i == idx
      %li.active!= "&#9679;"
    - elsif i < idx
      %li
        %a.reverse.slide.transition{:href => "##{id_prefix}#{i}"}!= "&#9675;"
    - else
      %li
        %a.slide.transition{:href => "##{id_prefix}#{i}"}!= "&#9675;"