%ol.journeys.content
  - if journeys and journeys.length > 0
    = render :partial => 'journey', :collection => journeys
    = render :partial => 'load_more_journeys', :locals => {:journeys => journeys}
  - else
    %li.journey
      %p.warning!= "&#9888;"
      %p.origin
        = origin
      %p.destination
        = destination
      %p.message No services found at this time.
      
