%section#favourites
  - @favourites.each_with_index do |favourite, idx|
    %section.page{:id => "f#{idx}"}
      %header
        %a.flip.fx.return{:href => "#fr#{idx}"}
          %span Return
        %h1
          %a{:href => '/'}= SITE_NAME
        %a.slideup.fx{:href => "/settings"}
          %span.settings Settings
      = render :partial => 'journeys', :object => favourite.journeys
      %footer
        = render :partial => 'footer', :locals => {:id_prefix => 'f', :count => @favourites.length, :idx => idx}
    %section.page{:id => "fr#{idx}"}
      %header
        %a.reverse.flip.fx.return{:href => "#f#{idx}"}
          %span.inbound Return
        %h1
          %a{:href => '/'}= SITE_NAME
        %a.slideup.fx{:href => "/about"}
          %span.about About
      = render :partial => 'journeys', :object => favourite.return_journeys
      %footer
        = render :partial => 'footer', :locals => {:id_prefix => 'fr', :count => @favourites.length, :idx => idx}