#favourites
  - @favourites.each do |favourite|
    - if favourite.departing and favourite.arriving
      .page{:id => "f#{favourite.id}"}
        .header
          %a.flip.fx.return{:href => "#fr#{favourite.id}"}
            %span Return
          %h1
            %a{:href => '/'}= SITE_NAME
          %a.slideup.fx{:href => '#settings'}
            %span.settings Settings
        = render :partial => 'journeys', :object => favourite.journeys
        .footer
          = render :partial => 'footer', :locals => {:id_prefix => 'f', :count => @favourites.length, :idx => favourite.id}
      .page{:id => "fr#{favourite.id}"}
        .header
          %a.reverse.flip.fx.return{:href => "#f#{favourite.id}"}
            %span.inbound Return
          %h1
            %a{:href => '/'}= SITE_NAME
          %a.slideup.fx{:href => '#about'}
            %span.about About
        = render :partial => 'journeys', :object => favourite.return_journeys
        .footer
          = render :partial => 'footer', :locals => {:id_prefix => 'fr', :count => @favourites.length, :idx => favourite.id}
- unless request.xhr?
  #settings.page
    .header
      %h1
        %a{:href => '/'}= SITE_NAME
      - hclass = @settings.find { |f| f.departing and f.arriving }? '' : 'disabled'
      %a.submit.back.reverse.slideup.fx{:href => "#f0", :class => hclass}Done
    - form_tag "/settings", :method => "post" do
      %ol
        - @settings.each do |setting|
          %li
            %span
              - if setting.departing
                - departing_code = setting.departing.code
              - else
                - departing_code = nil
              = select "origin", setting.id, @stations.map {|s| [s.name, s.code]}, { :selected => departing_code, :include_blank => 'Origin'}, {:class => 'origin'}
              to 
              - if setting.arriving
                - arriving_code = setting.arriving.code
              - else
                - arriving_code = nil
              = select "destination", setting.id, @stations.map {|s| [s.name, s.code]}, { :selected => arriving_code, :include_blank => 'Destination'}, {:class => 'destination'}
  #about.page
    .header
      %h1.title
        %a{:href => '/'}= SITE_NAME
      %a.back.reverse.slideup.fx{:href => "#"}Done
    %ul.panel
      %li
        %h2 About
        %p= ABOUT_BLURB
      %li
        %h2 Credits
        %p Design and development by Kevin Read and Lachlan Dowding. Served from #{h Socket.gethostname}.